

.td1{
    color: rgb(255, 255, 255);
    background-color: #2E4053;

}

.imagen2{
    width: 400px;
    height: 300px;
}

.imagen3{
    width: 400px;
    height: 300px;
}

.imagen4{
    width: 100px;
    height: 150px;
}


img{
    width: 300px;
    height: 200px;
}

.titulo1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.td2{
    color: rgb(255, 255, 255);
    background-color: #469EF7 ;

    
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
}

.td3{
    color: rgb(255, 255, 255);
    background-color: #469EF7 ;

    
}
